@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Source+Sans+Pro:200,700,900');

*{box-sizing: border-box;}

// Imports
@import 'reset';
@import 'vars';
@import 'typography';
@import 'grid';
@import 'modules';

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 4px -4px #9B9B9B;
    height: auto;
    min-height: 70px;
    background: #fff;
    width: 100%;
    overflow: hidden;
}

// Hamburger Menu
.nav-menu a {
    clear: right;
}
label {
    margin-right: 40px;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

.header-background {
    background: url('https://res.cloudinary.com/dls40gzte/image/upload/c_scale,q_40,w_2000/v1523317884/mattUnderwood.me/hero-background.jpg');
    // background: url('https://res.cloudinary.com/dls40gzte/image/upload/v1540562705/Tetons_from_Togwotee_Pass_mz6wuy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 6rem 1rem 10rem 1rem;
    margin-top: 20px;
}

.hero {
    background-size: 100%;
    background-position: center;
    padding: 2rem 1.5rem;
    &__headline {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

 .portfolio {
    margin: 0;
    margin-right: 0;

    @media #{$xsml}{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    @media #{$med}{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    @media #{$lrg}{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.portfolio-piece {
    padding: 1rem;
    margin: 0 1rem;
    width: 100%;
    height: calc(24rem - 2rem);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0rem;
    &:last-child {margin-bottom: 0}
    &__title {
        margin-bottom: .5rem;
        text-decoration: none;
    }
    &__title, &__tags {
        text-shadow: 0 2px 2px rgba(0,0,0,0.6);
    }
    @media #{$xsml}{
        margin-bottom: 1rem;
    }
    @media #{$med}{
        margin-bottom: 2rem;
    }
    @media #{$lrg}{
        margin-bottom: 2rem;
    }
}

.darken_weather {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(https://res.cloudinary.com/dls40gzte/image/upload/c_scale,q_40,w_800/v1523317885/mattUnderwood.me/weather_app.jpg);
}

.darken_wiki {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(https://res.cloudinary.com/dls40gzte/image/upload/c_scale,q_40,w_800/v1523317885/mattUnderwood.me/wikipedia_viewer.jpg);
}

.darken_quote {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(https://res.cloudinary.com/dls40gzte/image/upload/c_scale,q_40,w_800/v1523317884/mattUnderwood.me/quote_machine.jpg);
}

.darken_color {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(https://res.cloudinary.com/dls40gzte/image/upload/c_scale,q_40,w_800/v1523317884/mattUnderwood.me/color_game.jpg);
}

.darken_todo {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(https://res.cloudinary.com/dls40gzte/image/upload/c_scale,q_40,w_800/v1523317884/mattUnderwood.me/todo_list.jpg);
}

// This creates an anchor position so the navbar doesn't cover page content
.anchor {
    height: 70px;
    margin-top: -70px;
    display: block;
    visibility: hidden;
}

.blog {
    background: url(../assets/images/blog-section-background.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

    &__container {
        margin-left: 1rem;
    }
    &__article-title {
        margin-top: 2rem;
        &:first-child {margin-top: 1.5rem}
    }
    &__article-link {color: $text}
    @media #{$med} {
        &__article-title {max-width: 26rem}
    }

    @media #{$xsml}{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    @media #{$med}{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    @media #{$lrg}{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.contact {
    background: $text;
    color: white;
    padding: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    //&__title, &__social, &__button {flex: 100%;}
    &__social {
        margin-bottom: 2rem;
    }
    &__button {
        width: 18rem;
    }
}

.social {
    display: flex;
    justify-content: center;

    &__button {
        margin: 0 1rem;
        font-size: 1.5rem;
        color: white;
        transition: all .25s ease-in-out;
        &:hover {color: $link;}
    }
}

.footer {
    height: 140px;
    line-height: 140px;
    text-align: center;

}
.footer-list {
    color: $light;
    font-size: 1rem;

    &__item {
        display: inline-block;
        margin-right: .5rem;
        &:after {
            content: "|";
            margin-left: .5rem;
        }
        &:last-child {
            &:after {content: none}
        }
    }
}

// make all rows have the same margin left
.row {
    @media #{$med}{
        margin-left: 1rem;
    }
    @media #{$lrg}{
        margin-left: 2rem;
    }
}

// HAMBURGER MENU MEDIA QUERIES
@media only screen and (max-width: 600px) {
    label {
        display: block;
        cursor: pointer;
    }
    .nav-menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    #nav-menu a {
        display: block;
        border: 1px solid #EAEAEB;
        margin: 0;
    }

    #toggle:checked + .nav-menu {
        display: block;
    }
}

